$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #a4a3a5;
$background-pale: #D1C4E9;
$background-moredark: #4527A0;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}
.active {
    background: $background-moredark;
}

.logo-img {
  max-width: 350px;
  border: 1px solid floralwhite;
  border-radius: 5%;
  box-shadow: 5px 5px 15px 5px  whitesmoke;
}

.logo {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 40%;
}
