<div class="container footer">
  <div class="footer-links">
    <div class="navigate-footer">
      <h4>Links</h4>
      <button mat-stroked-button color="primary" routerLink="/home"> Home </button>
      <button mat-stroked-button color="primary" routerLink="/about"> About </button>
      <button mat-stroked-button color="primary" routerLink="/menu"> Menu </button>
      <button mat-stroked-button color="primary" routerLink="/contact"> Contact </button>
    </div>

    <div class="adress">
      <h4>Our Address</h4>
      <address>
        Zürich<br />
        Switzerland<br />
        <i class="fa fa-phone"></i>: +111 111 111<br />
        <i class="fa fa-envelope"></i>:
        <a href="mailto:dinner@food.net">confusion@food.net</a>
      </address>
    </div>

    <div class="icon-footer">
      <div style="text-align: center">
        <a mat-icon-button class="btn-google-plus" href="http://google.com/+"
          ><i class="fa fa-google-plus fa-lg"></i
        ></a>
        <a
          mat-icon-button
          class="btn-facebook"
          href="http://www.facebook.com/profile.php?id="
          ><i class="fa fa-facebook fa-lg"></i
        ></a>
        <a
          mat-icon-button
          class="btn-linkedin"
          href="http://www.linkedin.com/in/"
          ><i class="fa fa-linkedin fa-lg"></i
        ></a>
        <a mat-icon-button class="btn-twitter" href="http://twitter.com/"
          ><i class="fa fa-twitter fa-lg"></i
        ></a>
        <a mat-icon-button class="btn-youtube" href="http://youtube.com/"
          ><i class="fa fa-youtube fa-lg"></i
        ></a>
        <a mat-icon-button class="btn-mail" href="mailto:"
          ><i class="fa fa-envelope-o fa-lg"></i
        ></a>
      </div>
    </div>
  </div>

  <div>
    <p>© Copyright 2018 Ristorante Con Fusion</p>
  </div>
</div>
