<div class="dish-details">
  <div class="selectedDish">
   <mat-card  *ngIf="dish" class="dish-detail-card">
    <mat-card-header>
      <mat-card-title><h3>{{ dish.name | uppercase }}</h3></mat-card-title>
    </mat-card-header>
    <img mat-card-image  src="{{ dish.imageUrl }}"
    alt="{{ dish.name }}">
    <mat-card-content>
      <p>{{ dish.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>

  <div class="comments">
    <div id="comments">
      <h2>Comments</h2>
      <div>
        <ul *ngIf="dish">
          <li *ngFor="let comment of dish.comments">
            <p>{{ comment.comment}}</p>
            <p>{{ comment.rating}} Stars</p>
            <p>-- {{ comment.author }} {{ comment.date | date:'MMM d, y, h:mm' }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
